.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .navbar a:hover {
    background-color: #575757;
    border-radius: 4px;
  }
  